.nav{
    grid-area: n;
    background-color: #222225;
    padding: 20px;
  }
  .item a{
    color: #6a6b6d;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
  }

  .item a.active{
    color: rgb(221, 60, 60);
  }
  .friendsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .frendsTitle{
    margin-top: 50px;
  }
  .frendsContent{
    color: #6a6b6d;
  }