

.formControl.error input {}

.formControl.error textarea {
    border: 4px rgba(177, 19, 19, 0.753) solid;
}
.formSummaryError {
    border: 4px rgba(177, 19, 19, 0.753) solid;
    height: 50px;
}
.formControl.error span {
    color: red;
}